@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@layer utilities {
  .form-title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    color: #15803d;
    @media (min-width: 768px) {
        text-align: left;
    }
  }
}
